<div class="wrapper">
  <div class="date">
    <span class="day">12</span>
    <span class="month">Aug</span>
    <span class="year">2017</span>
  </div>
  <div class="data">
    <div class="content">
      <div class="span author">Jane Doe</div>
      <h1 class="title">
        <a href="#">Boxing icon has the wil</a>
      </h1>
      <p class="text">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
      <a href="#" class="button">Read more</a>
    </div>
  </div>
</div>

<h1>https://codepen.io/choogoor/pen/YWBxAg?editors=1100</h1>