<div class="wrapper">
  <h2 class="counter">Count down for 2019 African Cup of Nations</h2>
  <ul id="countdown">
    <li id="days">
      <div class="number">00</div>
      <div class="label">Days</div>
    </li>
    <li id="hours">
      <div class="number" id="hrs">00</div>
      <div class="label">Hours</div>
    </li>
    <li id="minutes">
      <div class="number">00</div>
      <div class="label">Minutes</div>
    </li>
    <li id="seconds">
      <div class="number" id="sec">00</div>
      <div class="label">Seconds</div>
    </li>
  </ul>
</div>