:host {
    margin-top: 80px;
    overflow-y: auto;
}

.wrapper {
    position: relative;
    top: 80px;
    display: flex;
    flex-flow: row-reverse;
}

.map {
    height: calc( 100vh - 80px );
    width: 90%;
    left: 0;
}

.selectDate {
    width: 10%;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-flow: column;
}

h2 {
    width: 100%;
    text-align: center;
}

.location {
    font-size: 14px;
    color: #fff;
}

.leaflet-popup-content .score {
    color: #fff;
}

button {
    outline: none;
    height: 42px;
    text-align: center;
    position: relative;
    width: 80%;
    border-radius: 45px;
    border: 1px solid #fff;
    background: #58af9b;
    color: #fff;
    text-shadow: 0;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-bottom: 10px;
}

button:hover {
    color: #58af9b;
    border: 1px solid #58af9b;
    background: #fff
}

.btn {
    display: block;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.date-title {
    font-size: 19px;
    color: #58af9b;
    margin-bottom: 17px;
    margin-top: 10px;
}