<div class="topLayer">
  <div class="smallerLayer">
    <div class="smallerLayer__wrapper">
      <div class="smallerLayer__content--left">
        <div class="toggle">
          <div class="toggle__text">
            <div class="toggle__text--title">Hello, Friend</div>
            <div class="toggle__text--subtitle">
              Enter your personal details and start your journey with us
            </div>
          </div>
          <div class="toggle__button">
            <button class="btn" id="goRight">SIGN UP</button>
          </div>
        </div>
      </div>
      <div class="smallerLayer__content--right">
        <div class="toggle">
          <div class="toggle__text">
            <div class="toggle__text--title">Welcome Back</div>
            <div class="toggle__text--subtitle">
              To keep connected with us please login with your personal info
            </div>
          </div>
          <div class="toggle__button">
            <button class="btn" id="goLeft">
              SIGN IN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="largerLayer">
    <div class="largerLayer__wrapper">
      <div class="largerLayer__content--right">
        <div class="form">
          <div class="form__title">
            Create Account
          </div>
          <div class="form__body">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
          </div>
          <div class="form__submit">
            <button class="btn" routerLink="/user">SIGN UP</button>
          </div>
        </div>
      </div>
      <div class="largerLayer__content--left">
        <div class="form">
          <div class="form__title">
            Sign In
          </div>
          <div class="form__body">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
          </div>
          <div class="form__submit">
            <button class="btn" routerLink="/user">SIGN IN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>